

RewriteEngine On
RewriteBase /

#попытка убрать слеш в конце некоторых УРЛ
RewriteCond %{HTTP_HOST} (.*)
RewriteCond %{REQUEST_URI} /$ [NC]
RewriteRule ^(.*)(/)$ $1 [L,R=301]

#попытка убрать /index.html у страниц каталогов
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} /index\.html$ -f [NC]
RewriteRule ^(.*)(/index\.html)$ $1 [L,R=301]

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ http://%1/$1 [L,R=301]




