body.mybody {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	position: relative;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.yuldash {
	overflow: hidden;
}

.yuldash header {
	background: #fff;
}

.yuldash .owl-item {
	float: left;
}

.yuldash .owl-stage-outer {
	overflow: hidden;
}

.yuldash header .navbar {
	margin: 0;
	padding: 32px 0 17px 0;
	border: none;
}

.yuldash header .navbar-brand {
	padding: 0;
	margin-right: 15px;
}

.yuldash header .nav li a:focus,
.yuldash header .nav li a:hover {
	background: transparent;
}

.yuldash header .nav .dropdown li a:hover {
	color: #000;
}

.yuldash header .navbar-nav li a {
	font-size: 16px;
	font-weight: 600;
	padding: 0 15px;
	color: #000;
	line-height: 2.7;
	transition: .3s ease all;
}

.yuldash header .navbar-nav li a:hover {
	color: #1081A7;
}

.yuldash header .navbar-nav li a.reg {
	background: #f78a29;
	border-radius: 50px;
	padding: 0 30px;
	text-align: center;
	color: #fff;
}

.yuldash header .navbar-nav li a.reg:hover {
	background: #fb963c;
}

.yuldash header .navbar-nav li .dropdown-menu {
	margin: 0;
	padding: 0;
	min-width: 70px;
	top: 96%;
	right: -2px;
	box-shadow: none;
}

.yuldash header .navbar-nav .dropdown .dropdown-toggle {
	border-radius: 4px;
	border: 1px solid #000;
	line-height: 2.5;
	padding: 0 20px 0 10px;
}

.yuldash header .navbar-nav .dropdown .dropdown-toggle img {
	width: 8px;
	position: relative;
	right: -10px;
	top: -2px;
	transition: .3s ease all;
}

.yuldash header .navbar-nav .dropdown.open .dropdown-toggle img {
	transform: rotate(-180deg);
	transition: .3s ease all;
}

.yuldash header .nav .open>a,
.yuldash header .nav .open>a:focus,
.yuldash header .nav .open>a:hover {
	background: transparent;
}

.yuldash header .dropdown-menu>li>a:focus,
.yuldash header .dropdown-menu>li>a:hover {
	background: #e8f5fe;
	transition: .3s ease all;
}

.yuldash header .dropdown-menu>li>a {
	font-size: 16px;
	font-weight: 600;
	padding: 10px 16px;
	line-height: 1.5;
}

/*//////////////*/
.yuldash .head-sec {
	padding: 62px 0 35px 0;
	background: #1081a7 url('../images/bg-1s.png') no-repeat center top;
	-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 81%, 50% 100%, 50% 100%, 0 81%, 0 0);
	clip-path: polygon(50% 0%, 100% 0, 100% 81%, 50% 100%, 50% 100%, 0 81%, 0 0);
}

.yuldash .head-sec .head-block {
	text-align: center;
	color: #fff;
	line-height: 1;
}

.yuldash .head-sec .head-block .head-title {
	font-family: 'Gilroy';
	font-size: 32px;
	font-weight: bold;
	font-weight: 800;
	line-height: 42px;
	letter-spacing: 0.8px;
}

.yuldash .head-sec .head-block .head-text {
	font-size: 23px;
	margin-bottom: 60px;
	letter-spacing: 0.57px;
}

.yuldash .head-sec .head-block .head-text span {
	font-weight: 800;
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 0.7px;
}

.yuldash .head-sec .head-block .head-link {
	margin-bottom: 60px;
}

.yuldash .head-sec .head-block .head-link a {
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
	padding: 20px 33px 21px 34px;
	background-color: #f78a29;
	border-radius: 50px;
	transition: .3s ease all;
	border-bottom: 6px solid #e48129;

	line-height: 23px;
	letter-spacing: 0.45px;
}

.yuldash .head-sec .head-block .head-link a:hover {
	background: #fb963c;
}

.yuldash .head-sec .head-block .head-text-down p {
	font-size: 16px;
	margin-bottom: 20px;
	line-height: 18px;
	letter-spacing: 0.4px;
}

.yuldash .head-sec .head-block .head-page-down {
	margin-top: 40px;
}

/*/////////////////*/
.yuldash .pabler-sec {
	padding: 44px 0 50px 0;
}

.yuldash .pabler-sec .pabler-title {
	text-align: center;
	color: #000;
	margin-bottom: 85px;
}

.yuldash .pabler-sec .pabler-title .pabler-big {
	font-family: 'Gilroy';
	font-size: 28px;
	font-weight: 800;
	color: #2b2b2b;
	letter-spacing: 0.52px;
}

.yuldash .pabler-sec .pabler-title .pabler-small {
	font-size: 21px;
	margin-top: 20px;

	line-height: 31px;
	letter-spacing: 0.53px;
}

.yuldash .pabler-sec .pabler-block {
	display: flex;
	margin-bottom: 80px;
}

.yuldash .pabler-sec .pabler-cols:nth-child(16) .pabler-block .pabler-text {
	margin-left: 35px;
}

.yuldash .pabler-sec .pabler-block .pabler-text {
	margin-left: 29px;
}

.yuldash .pabler-sec .pabler-block .pabler-pic {
	width: 150px;
	height: 75px;
}

.yuldash .pabler-sec .pabler-block .pabler-pic img {
	width: 100%;
}

.yuldash .pabler-sec .pabler-block .pabler-pic.user-png img {
	width: 50px;
	height: 60px;
}

.yuldash .pabler-sec .pabler-block .pabler-pic.boost-png img {
	width: 60px;
	height: 60px;
}

.yuldash .pabler-sec .pabler-block .pabler-text-title {
	font-size: 18px;
	font-weight: 600;
	color: #000;
	width: 290px;
	margin-bottom: 15px;
	line-height: 26px;
	letter-spacing: 0.45px;
}

.yuldash .pabler-sec .pabler-block .pabler-text-text {
	font-size: 16px;
	width: 265px;
	line-height: 26px;
	letter-spacing: 0.4px;
}

.yuldash .pabler-sec .pabler-show-all {
	text-align: center;
}

.yuldash .pabler-sec .pabler-show-all .pabler-link a {
	font-size: 16px;
	color: #1081a7;
	padding: 5px 5px 0 5px;
	text-decoration: none;

	line-height: 26px;
	letter-spacing: 0.4px;
}

.yuldash .pabler-sec .pabler-show-all .pabler-link {
	display: flex;
	flex-direction: column;
}

.yuldash .pabler-sec .pabler-end p {
	background: #e2f5fa;
	font-size: 16px;
	color: #000;
	padding: 8px;
	border-radius: 50px;
	text-align: center;
	margin: 40px 0 60px 0;

	line-height: 26px;
	letter-spacing: 0.4px;
}

.yuldash .pabler-sec .pabler-end-link a {
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
	padding: 27px 37px;
	background-color: #f78a29;
	border-radius: 40px;
	transition: .3s ease all;
	border-bottom: 6px solid #e48129;

	line-height: 22.29px;
	letter-spacing: 0.4px;
}

.yuldash .pabler-sec .pabler-end-link a:hover {
	background: #fb963c;
}

.yuldash .pabler-sec .pabler-last-text {
	font-size: 16px;
	color: #000;
	margin-top: 70px;
}

/*////////////*/
.yuldash .support-sec {
	padding: 75px 0 60px 0;
	background-color: #e2f5fa;
}

.yuldash .support-sec .support-title {
	font-family: 'Gilroy';
	font-size: 28px;
	font-weight: 800;
	color: #2b2b2b;
	margin-bottom: 75px;
	text-align: center;
}

.yuldash .support-sec .support-block {
	height: 100%;
	margin-bottom: 35px;
}

.yuldash .support-sec .support-block:nth-child(1) {
	margin-bottom: 25px
}

.yuldash .support-sec .support-block .support-text {
	font-size: 16px;
	color: #000;
	border-bottom: 2px dashed #1081a7;
	padding: 0 5px 45px 5px;

}


.yuldash .support-sec .support-end-title {
	font-size: 19px;
	font-weight: bold;
	color: #0d6481;
	margin: 15px 0 30px 0;
}

.yuldash .support-sec .support-end-text {
	font-size: 16px;
	color: #000;
}

/*////////////////////*/
.yuldash .free-try-sec {
	background: #1081a7 url('../images/bg-1s.png') no-repeat center top;
	padding: 80px 0 110px 0;
}

.yuldash .free-try-sec .free-try-col {
	text-align: center;
}

.yuldash .free-try-sec .free-try-text p {
	font-size: 28px;
	font-weight: 800;
	font-family: 'Gilroy';
	color: #fff;
	margin-bottom: 60px;
}

.yuldash .free-try-sec .free-try-link a {
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	text-decoration: none;
	padding: 28px 115px;
	background-color: #f78a29;
	border-radius: 50px;
	transition: .3s ease all;
	border-bottom: 6px solid #e48129;
}

.yuldash .free-try-sec .free-try-link a:hover {
	background: #fb963c;
}

/*/////////////*/
.yuldash .our-service-sec {
	padding: 65px 0 45px 0;
}

.yuldash .our-service-sec .our-service-title {
	margin-bottom: 50px;
	font-size: 28px;
	font-family: 'Gilroy';
	font-weight: 800;
	color: #2b2b2b;
	text-align: center;
}

.yuldash .our-service-sec .our-service-block {
	display: flex;
	align-items: center;
	padding: 25px;
	margin-bottom: 15px;
	transition: .3s ease all;
	padding-right: 0;

}

.yuldash .our-service-sec .our-service-block:hover {
	box-shadow: 0 3px 8px rgba(0, 0, 0, .1);
	border-radius: 50px;


	/* outline: 2px solid #000; */
	/* width: 100%; */
}

.yuldash .our-service-sec .our-cols:nth-child(3) .our-service-block:hover {
	width: 92%;
}

.yuldash .our-service-sec .our-cols:nth-child(5) .our-service-block:hover {
	width: 87%;
}

.yuldash .our-service-sec .our-cols:nth-child(6) .our-service-block:hover {
	width: 83%;
}

.yuldash .our-service-sec .our-cols:nth-child(8) .our-service-block:hover {
	width: 73%;
}

.yuldash .our-service-sec .our-cols:nth-child(7) .our-service-block:hover {
	width: 82%;
}

.yuldash .our-service-sec .our-cols:nth-child(9) .our-service-block:hover {
	width: 85%;
}

.yuldash .our-service-sec .our-cols:nth-child(10) .our-service-block:hover {
	width: 78%;
}

.yuldash .our-service-sec .our-cols:nth-child(11) .our-service-block:hover {
	width: 75%;
}

.yuldash .our-service-sec .our-cols:nth-child(12) .our-service-block:hover {
	width: 80%;
}

.yuldash .our-service-sec .our-cols:nth-child(13) .our-service-block:hover {
	width: 89%;
}

/* 
.yuldash .our-service-sec .our-service-block:nth-child(2):hover{
float:none
} 

.yuldash .our-service-sec .our-service-block:nth-child(3):hover{
	float:none
} 

.yuldash .our-service-sec .our-service-block:nth-child(4):hover{
	float:none
} 

.yuldash .our-service-sec .our-service-block:last-child:hover{
	float:none
} 

.yuldash .our-service-sec .our-service-block:hover .our-text {
	opacity: 1;
} */

.yuldash .our-service-sec .our-service-block .our-pic img {
	width: 55px;
	height: 55px;
	margin-right: 20px;
}

.yuldash .our-service-sec .our-service-block .our-text {
	font-size: 18px;
	font-weight: 600;
	color: #000;
	opacity: 0.6;
}

/*/////////////*/
.yuldash .info-sec {
	padding: 55px 0 65px 0;
	position: relative;
	background: #e2f5fa;
}

.yuldash .info-sec:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
	background: #1081a7 url('../images/bg-1s.png') no-repeat center top;
	border-radius: 0 140px 140px 0;
}

.yuldash .info-sec .info-left {
	font-size: 21px;
	font-weight: bold;
	color: #fff;
	line-height: 1.8;
	position: relative;
	z-index: 10000;
	padding: 0 30px;
}

.yuldash .info-sec .info-right {
	font-size: 16px;
	color: #000;
	line-height: 1.5;
	padding: 0 30px;
}

/*/////////////////*/
.yuldash .advan-sec {
	padding: 75px 0 0 0;
}

.yuldash .advan-sec .advan-title {
	font-family: 'Gilroy';
	font-size: 28px;
	font-weight: 800;
	color: #2b2b2b;
	text-align: center;
	margin-bottom: 70px;
}

.yuldash .advan-sec .advan-block {
	display: flex;
	margin-bottom: 80px;
}

.yuldash .row-eq-height :nth-child(8) .advan-block {
	margin-bottom: 70px;
}

.yuldash .advan-sec .advan-block .advan-pic {
	width: 120px;
	height: 75px;
}

.yuldash .advan-sec .advan-block .advan-pic.for-pic {
	width: 150px;
}

.yuldash .advan-sec .advan-block .advan-pic img {
	width: 100%;
}

.yuldash .advan-sec .advan-block .advan-text {
	margin-left: 29px;
}

.yuldash .advan-sec .advan-block .advan-pic.user-png img {
	width: 50px;
	height: 60px;
}

.yuldash .advan-sec .advan-block .advan-pic.boost-png img {
	width: 60px;
	height: 60px;
}

.yuldash .advan-sec .advan-block .advan-text-title {
	font-size: 18px;
	font-weight: 600;
	color: #000;
	margin-bottom: 15px;
	width: 280px;
}

.yuldash .advan-sec .advan-block .advan-text-text {
	font-size: 16px;
}

/*/////////*/
.yuldash .not-all-sec {
	background: #1081a7 url('../images/bg-1s.png') no-repeat center top;
	padding: 74px 0 74px 0;
}

.yuldash .not-all-sec .not-all-col {
	text-align: center;
}

.yuldash .not-all-sec .not-all-text-big {
	font-size: 28px;
	font-weight: 800;
	font-family: 'Gilroy';
	color: #fff;
	margin-bottom: 25px;
}

.yuldash .not-all-sec .not-all-text-small {
	font-size: 18px;
	color: #fff;
	margin-bottom: 80px;
}

.yuldash .not-all-end {
	font-size: 16px;
	color: #fff;
	margin-top: 60px;
}

.yuldash .not-all-sec .not-all-link a {
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	text-decoration: none;
	padding: 20px 80px;
	background-color: #f78a29;
	border-radius: 50px;
	transition: .3s ease all;
	border-bottom: 6px solid #e48129;

	line-height: 26px;
	letter-spacing: 0.45px;
}

.yuldash .not-all-sec .not-all-link a:hover {
	background: #fb963c;
}

/*////////////////*/
.yuldash .rate-sec {
	padding: 70px 0 50px 0;
}

.yuldash .rate-sec .rate-title {
	text-align: center;
	margin-bottom: 25px;
}

.yuldash .rate-sec .rate-title-big {
	font-size: 28px;
	font-weight: 800;
	font-family: 'Gilroy';
	color: #2b2b2b;
	margin-bottom: 35px;
}

.yuldash .rate-sec .rate-title-small {
	font-size: 19px;
	color: #000;
}

.yuldash .rate-sec .rate-switch {
	display: flex;
	justify-content: center;
}

.yuldash .rate-sec .rate-switch .rate-switch-name p {
	font-size: 19px;
	color: #777676;
	margin-right: 45px;
	padding-top: 10px;
}

.yuldash .rate-sec .rate-switch .rate-switch-rate {
	margin-left: 50px;
	padding-top: 10px
}

.yuldash .rate-sec .rate-switch .rate-switch-rate p {
	font-size: 19px;
	font-weight: 600;
	color: #000;
	margin-bottom: 10px;
}

.yuldash .rate-sec .rate-switch .rate-switch-rate span {
	font-size: 14px;
	color: #d00f0f;
}

.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}

.checkbox+label {
	position: relative;
	padding: 0 0 0 60px;
	cursor: pointer;
}

.checkbox+label:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0;
	width: 70px;
	height: 21px;
	border-radius: 13px;
	background: #CDD1DA;
	transition: .2s;
}

.checkbox+label:after {
	content: '';
	position: absolute;
	top: -4px;
	left: -2px;
	right: 20px;
	width: 28px;
	height: 28px;
	border-radius: 30px;
	background: #ffffff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
	transition: .2s;
}

.checkbox:checked+label:before {
	background: #1081a7;
}

.checkbox:checked+label:after {
	left: 50px;
	background: #ffffff;
}

.yuldash .rate-cart-rov {
	padding-top: 50px;
}

.yuldash .rate-sec .rate-block {
	margin-top: 25px;
	text-align: center;
	box-shadow: 0 0 15px rgba(0, 0, 0, .2);
	border-radius: 10px;
}

.yuldash .rate-sec .rate-block.popular-block {
	margin-top: -10px;
}

.yuldash .rate-sec .rate-block .rate-head {
	padding: 35px 0;
	-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 81%, 50% 100%, 50% 100%, 0 81%, 0 0);
	clip-path: polygon(50% 0%, 100% 0, 100% 81%, 50% 100%, 50% 100%, 0 81%, 0 0);
	background: #1081a7;
	border-radius: 10px 10px 0 0;
}

.yuldash .rate-sec .rate-block .rate-head p.rate-head-big {
	font-size: 19px;
	font-weight: 800;
	color: #fff;
	margin-bottom: 10px;
}

.yuldash .rate-sec .rate-block .rate-head p.rate-head-small {
	font-size: 16px;
	font-weight: 600;
	color: #fff;
}

.yuldash .rate-sec .rate-block .rate-body {
	padding: 35px 0 45px 0;
}

.yuldash .rate-sec .rate-block .rate-body .rate-popular p {
	font-size: 16px;
	color: #fff;
	padding: 10px 0;
	margin-bottom: 30px;
	border-radius: 50px;
	background: #62a710;
	display: inline-block;
	width: 80%;
}

.yuldash .rate-sec .rate-block .rate-body p.rate-body-name {
	font-size: 16px;
	color: #000;
	margin-bottom: 20px;
}

.yuldash .rate-sec .rate-block .rate-body p.rate-body-price {
	font-size: 16px;
	color: #000;
}

.yuldash .rate-sec .rate-block .rate-body p.rate-body-price span {
	font-size: 25px;
	font-weight: 800;
}

.yuldash .rate-sec .rate-block .rate-link a {
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	text-decoration: none;
	padding: 10px 0;
	display: inline-block;
	width: 80%;
	background-color: #f78a29;
	border-radius: 50px;
	transition: .3s ease all;
	border-bottom: 6px solid #e48129;
}

.yuldash .rate-sec .rate-block .rate-link {
	padding-bottom: 45px;
}

.yuldash .rate-sec .rate-block .rate-link a:hover {
	background: #fb963c;
}

/*////////////////*/
.yuldash .about-sec {
	padding: 75px 0 80px 0;
	background: #e2f5fa;
}

.yuldash .about-sec .about-title {
	font-size: 28px;
	font-weight: 800;
	font-family: 'Gilroy';
	color: #2b2b2b;
	margin-bottom: 75px;
	text-align: center;
}

.yuldash .about-sec .about-text p {
	font-size: 16px;
	color: #000;
	margin-bottom: 15px;
}

.yuldash .about-sec .about-text p img {
	margin-right: 20px;
}

/*////////////////////*/
.yuldash .other-sec {
	padding: 60px 0 70px 0;
}

.yuldash .other-sec .other-title {
	font-size: 28px;
	font-weight: 800;
	font-family: 'Gilroy';
	color: #2b2b2b;
	margin-bottom: 75px;
	text-align: center;

	line-height: 52px;
	letter-spacing: 0.7px;
}

.yuldash .other-sec .other-block {
	text-align: center;
	height: 100%;
}



.yuldash .other-sec .other-block .other-pic img {
	height: 270px;
}

/* .yuldash .other-sec .other-block .other-pic img {
	height: 273px;
} */
.yuldash .other-sec .other-block .other-text {
	font-size: 22px;
	font-weight: 800;
	font-family: 'Gilroy';
	color: #2b2b2b;
	line-height: 1.7;
	margin: 35px 0;

	line-height: 39px;
	letter-spacing: 0.55px;
}

.yuldash .other-sec .other-block .other-link a {
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	text-decoration: none;
	padding: 10px 0;
	display: inline-block;
	width: 83%;
	background-color: #f78a29;
	border-radius: 50px;
	transition: .3s ease all;
	border-bottom: 6px solid #e48129;

	line-height: 26px;
	letter-spacing: 0.45px;
}

.yuldash .other-sec .other-block .other-link a:hover {
	background: #fb963c;
}

.yuldash .other-sec .other-block .other-link.dark-blue-btn a {
	background: #3d6077;
	border-bottom: 6px solid #304b5d;
}

.yuldash .other-sec .other-block .other-link.dark-blue-btn a:hover {
	background: #557a92;
}

.yuldash .other-sec .other-block .other-link.blue-btn a {
	background: #0e7486;
	border-bottom: 6px solid #0c6271;
}

.yuldash .other-sec .other-block .other-link.blue-btn a:hover {
	background: #12889c;
}

.yuldash .other-sec .other-slide {
	position: relative;
}

.yuldash .other-sec .other-slide .owl-nav button {
	border: none;
	background: transparent;
	outline: none;
}

.yuldash .owl-nav button img {
	height: 53px;
}

.yuldash .other-sec .other-slide .owl-nav .owl-prev {
	transform: rotate(-180deg);
	position: absolute;
	top: 26%;
	left: 29%;
}

.yuldash .other-sec .other-slide .owl-nav .owl-next {
	position: absolute;
	top: 26%;
	right: 29%;
}

/*///////////*/
.yuldash footer {
	background: #292929;
	padding-top: 65px;
	color: #fff;
}

.yuldash footer .foot-rov {
	padding-bottom: 50px;
}

.yuldash footer .foot-left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.yuldash footer .foot-left p {
	font-size: 14px;
	margin-bottom: 10px;
}

.yuldash footer .the-user {
	display: flex;
	flex-direction: column;
}

.yuldash footer .the-user p {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 20px;
}

.yuldash footer .the-user li {
	list-style: none;
	margin-bottom: 10px;
}

.yuldash footer .the-user li a {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0.35px;
}

.yuldash footer .foot-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 0 30px 0;
	border-top: 1px solid #6a6a6a;
}

.yuldash footer .foot-block .foot-socials a img {
	width: 41px;
	height: 41px;
}

.yuldash footer .foot-block .find-error p {
	font-size: 14px;
	font-weight: bold;
	padding-left: 55px
}

.yuldash footer .foot-block .find-error p a {
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
}

.yuldash footer .foot-block .foot-socials a {
	padding-left: 2px;
}

.yuldash footer .foot-block .foot-socials a:last-child {
	margin: 0;
}

.yuldash footer .foot-con {
	background: #1081a7 url('../images/bg-1s.png') no-repeat center top;
	padding: 60px 0 50px 0;
}

.yuldash footer .foot-end {
	display: flex;
	justify-content: space-between;
}

.yuldash footer .foot-end-text {
	font-family: 'Gilroy';
	font-size: 20px;
	font-weight: 800;
	color: #fff;
	margin-top: -10px;
	line-height: 52px;
	letter-spacing: 0.6px;
}

.yuldash footer .foot-end-reg a {
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	text-decoration: none;
	padding: 27px 42px;
	background-color: #f78a29;
	border-radius: 50px;
	transition: .3s ease all;
	border-bottom: 6px solid #e48129;

	line-height: 26px;
	letter-spacing: 0.45px;
}

.yuldash footer .foot-end-reg a:hover {
	background: #fb963c;
}

/*/////////////modal/////////*/
.modal {
	width: 100%;
	height: 0%;
	opacity: 0;
	background: #fff;
	transition: .3s ease all;
}

.modal-open .modal.in {
	height: 100%;
	opacity: 1;
}

.modal .modal-content {
	box-shadow: none;
	border: none;
}

.modal .modal-header {
	border: none;
	padding: 0;
}

.modal .modal-header .modal-title {
	font-size: 21px;
	font-weight: 600;
}

.modal .form-group {
	margin: 0;
}

.modal .form-control {
	display: block;
	padding: 16px 25px;
	color: #717171;
	font-size: 16px;
	font-weight: 400;
	width: 430px;
	letter-spacing: 0.5px;
	border-width: 0;
	border-bottom: 1px solid #717171;
	border-radius: 0;
	box-shadow: none;
	height: 49px;
}

.modal .form-control:focus {
	outline: none;
	background: #e8f7fb;
}

.modal .modal-dialog {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.modal .modal.in .modal-dialog {
	width: 100%;
	margin: 0;
}

.modal .close {
	opacity: 1;
	position: absolute;
	top: 50px;
	right: 50px;
	outline: none;
}

.modal .close img {
	width: 50%;
}

.modal .modal-check {
	margin-top: 25px;
	margin-bottom: 40px;
}

.modal .modal-check input {
	width: 25px;
	height: 25px;
	background: transparent;
}

.modal [type="checkbox"]:checked,
.modal [type="checkbox"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

.modal [type="checkbox"]:checked+label,
.modal [type="checkbox"]:not(:checked)+label {
	font-size: 16px;
	font-weight: normal;
	color: #000;
	position: relative;
	padding-left: 50px;
	cursor: pointer;
	line-height: 24px;
	display: inline-block;
}

.modal [type="checkbox"]:checked+label:before,
.modal [type="checkbox"]:not(:checked)+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 24px;
	height: 24px;
	border: 1px solid #000;
	border-radius: 3px;
	background: #fff;
}

.modal [type="checkbox"]:checked+label:after,
.modal [type="checkbox"]:not(:checked)+label:after {
	content: '';
	width: 16px;
	height: 16px;
	background: #000;
	border-radius: 3px;
	position: absolute;
	top: 4px;
	left: 4px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.modal [type="checkbox"]:not(:checked)+label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.modal [type="checkbox"]:checked+label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.modal .modal-content form .modal-btn {
	text-align: center;
}

.modal .modal-content form .modal-btn button {
	border: none;
	outline: none;
	box-shadow: none;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	text-decoration: none;
	padding: 20px 60px;
	background-color: #f78a29;
	border-radius: 50px;
	transition: .3s ease all;
	border-bottom: 6px solid #e48129;
}

.modal .remember-number {
	text-align: center;
	padding: 30px 0 45px 0;
	border-bottom: 1px solid #c6c6c6;
}

.modal .remember-number a {
	font-size: 14px;
	color: #1081a7;
	border-bottom: 1px dashed #1081a7;
	text-decoration: none;
}

.modal .remember-number a:hover {
	border-bottom: 1px solid #1081a7;
}

/*//////////*/
.modal.modal-second .modal-content {
	padding-bottom: 50px 0;
}

.modal.modal-second .modal-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.modal.modal-second .modal-content form .modal-btn {
	margin-top: 30px;
}

.modal.modal-second .modal-dialog {
	height: auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.modal.modal-second .modal-header .modal-title {
	font-weight: normal;
	font-size: 18px;
	margin: 35px 0;
}

.modal.modal-second .modal-header .title-small {
	font-size: 23px;
	color: #000;
	font-weight: 600;
	text-align: center;
	margin-bottom: 22px;
	letter-spacing: 0.1px;
}

.modal.modal-second .modal-header .title-small span {
	color: #1081a7;
	font-weight: 800;
	font-size: 26px;
}

.modal .confirm-text {
	padding-top: 20px;
	text-align: center;
}

.modal .confirm-text a {
	font-size: 14px;
	color: #1081a7;
	text-decoration: none;
}

.modal .confirm-text a:hover {
	color: #000;
	text-decoration: underline;
}

.modal .have-account {
	text-align: center;
	padding: 30px 0 45px 0;
	border-bottom: 1px solid #c6c6c6;
}

.modal .have-account p a {
	border-bottom: 1px dashed #1081a7;
	text-decoration: none;
}

.modal .have-account p a:hover {
	border-bottom: 1px solid #1081a7;
}

/*/////////////modal/////////*/
.yuldash .custom-nav {
	display: none;
}

.yuldash .for-mobile {
	display: none;
}

.yuldash .for-desktop {
	display: block;
	padding-right: 15px;
	padding-left: 15px
}

.yuldash .about-sec .for-desktop,
.yuldash .rate-cart-rov.for-desktop {
	display: flex;
	flex-wrap: wrap;
}

.yuldash .navbar-right {
	display: flex;
	align-items: center;
}

/*the container must be positioned relative:*/
.yuldash .custom-select {
	position: relative;
	/*font-family: Arial;*/
	font-weight: 600;
}

.yuldash .custom-select select {
	display: none;
	/*hide original SELECT element:*/
}

.yuldash .select-selected {
	border: 1px solid rgba(0, 0, 0, 1);
	border-radius: 3px;
}

.select-selected.select-arrow-active {
	border-color: #1081A7;
	transition: 0.7s;
}


/*style the arrow inside the select element:*/
.yuldash .select-selected:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 10px;
	width: 10px;
	height: 10px;
	background-image: url('../images/arrow-down.svg');
	background-repeat: no-repeat;
	background-size: 10px;
	transition: .3s ease all;
}

/*point the arrow upwards when the select box is open (active):*/
.yuldash .select-selected.select-arrow-active:after {
	transform: rotate(-180deg);
	/*top: 7px;*/
}

/*style the items (options), including the selected item:*/
.yuldash .select-items div,
.select-selected {
	color: #000;
	padding: 8px 12px 8px 10px;
	/* border: 1px solid transparent; */
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	user-select: none;
	font-size: 14px;
}

/*style items (options):*/
.yuldash .select-items {
	position: absolute;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, .3);
	top: 99%;
	left: 0;
	right: 0;
	z-index: 99;

	margin-top: -5px;
}

/*hide the items when the select box is closed:*/
.yuldash .select-hide {
	display: none;
}

.yuldash .select-items div:hover,
.same-as-selected {
	background-color: #e8f5fe;
}

/*/////////*/
.yuldash footer .tong {
	display: flex;
	align-items: center;
}

.yuldash footer .tong p.change-lang-site {
	margin-right: 15px;
}


.yuldash footer .select-selected.select-arrow-active {

	border-color: #1081A7;

	transition: 0.7s;
}

.yuldash footer .select-selected {
	border: 1px solid #fff;
}

.yuldash footer .select-selected {
	color: #fff;
	font-weight: 400;
}

.yuldash footer .select-selected:after {
	background-image: url('../images/arrow-down-footer.svg');
}

.yuldash footer .select-items {
	top: auto;
	bottom: 98%;
	font-size: 14px;
}




@media only screen and (min-width: 1920px) {
	.yuldash .advan-sec .advan-title {
		margin-bottom: 70px;
	}

	.yuldash .row-eq-height .pabler-cols .pabler-block img {
		width: 62px;
		height: 62px;
		margin-top: 5px
	}

	.yuldash .row-eq-height .pabler-cols .pabler-block:nth-child(2) img {
		width: 62px;
		height: 62px
	}

	.yuldash .our-service-sec .our-service-block img {
		width: 61px;
		height: 61px
	}

	.yuldash .row-eq-height {
		display: flex;
		flex-wrap: wrap;
		flex: 0 0 100%;
		max-width: 100%;
		align-content: center;
		align-items: center;
		justify-content: center;
	}


	.yuldash .advan-sec .advan-block img {
		width: 62px;
		height: 62px;
		margin-top: 5px;
	}

	.yuldash header .navbar-nav li a {
		padding-left: 11px;
		letter-spacing: 0.4px;
	}

	.yuldash header .navbar-nav li.nav-enter a {
		padding: 0 26px 0 27px
	}

	.yuldash header .navbar-nav li:last-child a {
		padding-right: 41px
	}

	.yuldash header .navbar-nav li:first-child a {
		padding: 0 15px 0 43px
	}

	.yuldash .row.head-rov {
		display: flex;
		flex-wrap: wrap;
		flex: 0 0 100%;
		max-width: 100%;
	}


}

@media only screen and (max-width: 1920px) {
	.yuldash .row-eq-height {
		display: flex;
		flex-wrap: wrap;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.yuldash .pabler-sec .row-eq-height :nth-child(4) .pabler-block {
		margin-bottom: 70px;
	}

	.yuldash .pabler-sec .row-eq-height :nth-child(10) .pabler-block {
		margin-bottom: 70px;
	}

	.yuldash header .navbar-nav li a {
		padding-left: 11px;
		letter-spacing: 0.4px;
	}

	.yuldash header .navbar-nav li.nav-enter a {
		padding: 0 26px 0 27px
	}

	.yuldash header .navbar-nav li:last-child a {
		padding-right: 41px
	}

	.yuldash header .navbar-nav li:first-child a {
		padding: 0 15px 0 43px
	}

	.yuldash .row.head-rov {
		display: flex;
		flex-wrap: wrap;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.yuldash .row-eq-height.second-foot {
		display: flex;
		flex-wrap: wrap;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.yuldash .row-eq-height .pabler-cols .pabler-block img {
		width: 62px;
		height: 62px;
		margin-top: 5px
	}

	.yuldash .row-eq-height .pabler-cols .pabler-block:nth-child(2) img {
		width: 62px;
		height: 62px
	}

	.yuldash .our-service-sec .our-service-block img {
		width: 61px;
		height: 61px
	}

	.yuldash .advan-sec .advan-block img {
		width: 62px;
		height: 62px;
		margin-top: 5px;
	}

	.yuldash .free-try-sec {
		padding: 70px 0 120px 0
	}
}

@media only screen and (max-width: 1920px) and (min-width: 1200px) {



	.yuldash .row-eq-height .pabler-cols:nth-child(3n+2) {
		padding-left: 20px
	}

	.yuldash .row-eq-height .pabler-cols:nth-child(3n+1) {
		padding-left: 5px
	}

	.yuldash .row-eq-height .pabler-cols:nth-child(3n+3) {
		padding-right: 0;
		padding-left: 35px
	}

	.yuldash .pabler-sec .pabler-last-text {

		line-height: 26px;
		letter-spacing: 0.4px;
	}

	.yuldash .support-sec .support-title {

		line-height: 43px;
		letter-spacing: 0.7px;
	}

	/* .yuldash .for-desktop .col-sm-3:nth-child(4n+2) {
		padding-left: 25px;
		padding-right: 10px
	} */

	/* .yuldash .for-desktop .col-sm-3:nth-child(4n+5) {
		padding-left: 5px;
		padding-right: 10px
	} */

	.yuldash .support-sec .support-block .support-text {
		padding-left: 0px
	}

	.yuldash .support-sec .support-end-title {
		font-size: 19px;
		font-weight: 700;
		line-height: 26px;

		letter-spacing: 0.47px;
	}

	.yuldash .support-sec .support-end-text {
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.4px;
	}

	.yuldash .free-try-sec .free-try-text p {
		line-height: 52px;
		letter-spacing: 0.7px;
	}

	.yuldash .free-try-sec .free-try-link a {

		line-height: 26px;
		letter-spacing: 0.45px;
	}

	.yuldash .our-service-sec .our-service-title {

		line-height: 52px;
		letter-spacing: 0.7px;
	}

	.yuldash .our-service-sec .our-service-block .our-text {
		padding-left: 30px;
		line-height: 26px;
		letter-spacing: 0.45px;
	}


	.yuldash .support-sec .support-block .support-text {

		line-height: 26px;
		letter-spacing: 0.4px;
	}

	.yuldash .our-service-sec div:nth-child(3n+2) {
		padding-left: 0px;
		padding-right: 0px;
	}

	.yuldash .our-service-sec div:nth-child(3n+2) .our-service-block {
		padding-left: 20px;
	}

	.yuldash .our-service-sec div:nth-child(3n+2) .our-service-block .our-text {
		padding-left: 20px;
	}

	.yuldash .our-service-sec div:nth-child(3n+3) .our-service-block {
		padding-left: 20px
	}

	.yuldash .our-service-sec div:nth-child(3n+3) {
		padding-left: 5px;
		padding-right: 0;
		;
	}

	.yuldash .our-service-sec div:nth-child(3n+4) {
		padding-left: 20px;
		padding-right: 0px;
	}

	.yuldash .our-service-sec div:nth-child(3n+4) .our-service-block {
		padding-left: 20px
	}

	.yuldash .info-sec .info-left {

		letter-spacing: 0.47px;
	}

	.yuldash .info-sec .info-right {

		line-height: 26px;
		letter-spacing: 0.4px;
	}

	.yuldash .info-sec .info-left {
		padding-left: 5px;
		padding-right: 70px
	}

	.yuldash .info-sec .info-right {
		padding-left: 45px;
		padding-right: 15px
	}

	.yuldash .advan-sec .advan-title {
		line-height: 52px;
		letter-spacing: 0.7px;
	}


	.yuldash .row-eq-height .just:nth-child(3n+2) {
		padding-left: 5px
	}

	.yuldash .row-eq-height .just:nth-child(3n+3) {
		padding-left: 20px
	}

	.yuldash .row-eq-height .just:nth-child(3n+4) {
		padding-left: 35px;
		padding-right: 0
	}




	.yuldash .advan-sec .advan-block .advan-text-title {

		line-height: 26px;
		letter-spacing: 0.45px;
	}

	.yuldash .advan-sec .advan-block .advan-text-text {

		line-height: 26px;
		letter-spacing: 0.4px;
		width: 260px
	}

	.yuldash .advan-sec .row-eq-height div:nth-child(4) .advan-block .advan-text {
		margin-left: 45px
	}

	.yuldash .not-all-sec .not-all-text-big {

		line-height: 44px;
		letter-spacing: 0.7px;
	}

	.yuldash .not-all-sec .not-all-text-small {

		line-height: 26px;
		letter-spacing: 0.45px;
	}

	.yuldash .not-all-end {

		line-height: 26px;
		letter-spacing: 0.4px;
	}

	.yuldash .not-all-sec .not-all-link a {
		padding: 30px 110px;
	}

	.yuldash .rate-sec .rate-title-big {

		line-height: 52px;
		letter-spacing: 0.7px;
	}

	.yuldash .rate-sec .rate-title-small {

		line-height: 26px;
		letter-spacing: 0.47px;
	}

	.yuldash .rate-cart-rov.for-desktop .rate-cols:nth-child(1) {
		padding-left: 0;
		margin-top: 20px;
	}

	.yuldash .rate-cart-rov.for-desktop .rate-cols:nth-child(2) {
		padding-left: 0;
		padding-right: 10px
	}

	.yuldash .rate-cart-rov.for-desktop .rate-cols:nth-child(3) {
		padding-left: 10px;
		padding-right: 5px;

		margin-top: 20px;
	}

	.yuldash .rate-cart-rov.for-desktop .rate-cols:nth-child(4) {
		padding-left: 10px;
		padding-right: 0;

		margin-top: 20px;
	}

	.yuldash .rate-sec .rate-cart-rov.for-desktop .rate-cols:nth-child(2) .rate-block .rate-link a {
		margin-bottom: 30px;
		margin-top: 30px
	}

	.yuldash .rate-sec .rate-block .rate-body p.rate-body-name {
		margin-bottom: 30px
	}

	.yuldash .about-sec .for-desktop .about-cols:nth-child(2) {
		padding-left: 5px
	}


	.yuldash .about-sec .for-desktop .about-cols:nth-child(3) {
		padding-left: 10px
	}

	.yuldash .about-sec .for-desktop .about-cols:nth-child(4) {
		padding-left: 10px
	}

	.yuldash .about-sec .for-desktop .about-cols .about-text {

		letter-spacing: 0.4px;
	}

	.yuldash .row-eq-height .foot-left {
		padding-left: 0;
		padding-right: 30px
	}

	.yuldash footer .foot-left p {

		line-height: 21px;
		letter-spacing: 0.35px;
	}


	.yuldash .row-eq-height .pos.col-md-12.col-lg-4 {
		padding-left: 0;
		/* padding-right: 0; */
	}

	.yuldash .row-eq-height .secpos.col-12.col-md-4.col-lg-2 {
		padding-left: 20px;
		/* padding-right: 0; */
	}

	.yuldash .row-eq-height .thirdpos.col-12.col-md-4.col-lg-2 {
		padding-left: 45px;
		/* padding-right: 0; */
	}

	/* .yuldash footer .row-eq-height div:nth-child(3) .the-user
	{
		padding-left: 30px;
		padding-right: 0

	} */
	/* .yuldash footer .row-eq-height.foot-rov :nth-child(1)
	{
		padding-left: 0;
		padding-right: 25px
	} */

	.yuldash .row-eq-height div:nth-child(4) {
		padding-left: 75px;
		padding-right: 0
	}
}


@media only screen and (max-width: 1200px) {
	.yuldash header .navbar-nav>li>a {
		font-size: 14px;
		padding: 0 5px;
	}

	.yuldash header .navbar-nav li a {
		padding-left: 4px;
		letter-spacing: 0.4px;
	}

	.yuldash header .navbar-nav li:last-child a {
		padding-right: 1px
	}

	.yuldash header .navbar-nav li:first-child a {
		padding: 0 2px 0 5px
	}

	.yuldash header .navbar-nav li.nav-enter a {
		padding: 0 6px 0 7px
	}

	.yuldash header .navbar-nav>li>a.reg {
		padding: 0 20px;
	}

	.yuldash header .navbar .container-fluid {
		padding: 0;
	}

	.yuldash header .navbar .container-fluid .collapse {
		padding: 0;
	}

	.yuldash .support-sec .support-block .support-text {
		height: 157px;
		overflow: auto;
	}

	/* .yuldash .other-sec .other-block .other-text {
		font-size: 18px;
	} */

	.yuldash footer .foot-left {
		text-align: center;
		padding-bottom: 30px;
	}

	.yuldash footer .foot-end-text {
		font-size: 16px;
	}

	.yuldash .advan-sec .just {
		display: flex;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.yuldash .pabler-sec .pabler-block .pabler-pic {
		width: 170px;
	}

	.yuldash .our-service-sec .our-cols {
		display: flex;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.yuldash .advan-sec .advan-block .advan-pic.for-pic,
	.yuldash .advan-sec .advan-block .advan-pic {
		width: 100px;
	}

	.yuldash .pabler-sec .pabler-block .pabler-text-title {
		width: 210px
	}

	.yuldash .pabler-sec .pabler-block .pabler-text-text {
		width: 210px
	}

	.yuldash .our-service-sec .our-service-block .our-text {
		padding-left: 30px;
		padding-right: 20px
	}

	.yuldash .advan-sec :nth-child(4) .advan-block .advan-text {
		margin-left: 45px
	}
}

@media only screen and (max-width: 992px) {
	.yuldash .pabler-sec .pabler-cols {
		display: flex;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.yuldash .our-service-sec .our-cols {
		display: flex;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.yuldash .rate-sec .for-desktop .rate-cols {
		display: flex;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.yuldash .rate-sec .rate-block {
		width: 100%;
	}

	.yuldash header .navbar {
		display: none;
	}

	.yuldash .custom-nav {
		display: block;
		padding: 20px 15px;
	}

	.yuldash .custom-nav .nav-mobile {
		position: fixed;
		left: 0;
		top: 0;
		width: 300px;
		height: 100%;
		background: #232323;
		list-style: none;
		z-index: 1000000;
		padding: 15px 20px;
		margin-left: -300px;
		transition: .4s ease all;
	}

	.yuldash .custom-nav .nav-mobile.active {
		display: block;
		margin-left: 0;
		transition: .4s ease all;
	}

	.yuldash .custom-nav .navbar-custom {
		display: flex;
		align-items: center;
	}

	.yuldash .custom-nav .navbar-custom .nav-all {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.yuldash .custom-nav .dropdown-menu {
		margin: 0;
		padding: 0;
		min-width: 70px;
		top: 96%;
		left: -2px;
		box-shadow: none;
	}

	.yuldash .custom-nav .dropdown .dropdown-toggle {
		display: block;
		text-decoration: none;
		border-radius: 4px;
		border: 1px solid #000;
		line-height: 2.5;
		padding: 0 20px 0 10px;
	}

	.yuldash .custom-nav .dropdown .dropdown-toggle img {
		width: 8px;
		position: relative;
		right: -10px;
		top: -2px;
		transition: .3s ease all;
	}

	.yuldash .custom-nav .dropdown.open .dropdown-toggle img {
		transform: rotate(-180deg);
		transition: .3s ease all;
	}

	.yuldash .custom-nav .nav .open>a,
	.yuldash .custom-nav .nav .open>a:focus,
	.yuldash .custom-nav .nav .open>a:hover {
		background: transparent;
	}

	.yuldash .custom-nav .dropdown-menu>li>a:focus,
	.yuldash .custom-nav .dropdown-menu>li>a:hover {
		background: #e8f5fe;
		transition: .3s ease all;
	}

	.yuldash .custom-nav .dropdown-menu>li>a {
		font-size: 16px;
		font-weight: 600;
		padding: 10px 16px;
		line-height: 1.5;
	}

	.yuldash .custom-nav .navbar-custom .reg-block {
		display: flex;
	}

	.yuldash .custom-nav .navbar-custom li.dropdown {
		position: absolute;
		right: 80px;
	}

	.yuldash .custom-nav .navbar-custom li {
		list-style: none;
	}

	.yuldash .custom-nav .navbar-custom li a {
		font-size: 16px;
		font-weight: 600;
		padding: 0 15px;
		color: #000;
		line-height: 2.7;
		transition: .3s ease all;
	}

	.yuldash .custom-nav .navbar-custom li a.reg {
		display: inline-block;
		text-decoration: none;
		background: #f78a29;
		border-radius: 50px;
		padding: 0 30px;
		text-align: center;
		color: #fff;
	}

	.yuldash .custom-nav .navbar-custom li a.reg:hover {
		background: #fb963c;
	}

	.yuldash .custom-nav .toggler-menu {
		position: absolute;
		right: 15px;
	}

	.yuldash .custom-nav .toggler-menu a img {
		width: 50px;
		height: 50px;
	}

	.yuldash .custom-nav .nav-mobile .nav-mobile-logo {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.yuldash .custom-nav .nav-mobile .nav-mobile-logo #menu-closer {
		text-align: right;
	}

	.yuldash .custom-nav .nav-mobile .nav-mobile-logo #menu-closer img {
		width: 35%;
	}

	.yuldash .custom-nav .nav-mobile .nav-mobile-in {
		padding: 0;
		margin-top: 50px;
	}

	.yuldash .custom-nav .nav-mobile .nav-mobile-in li {
		list-style: none;
		margin-bottom: 20px;
	}

	.yuldash .custom-nav .nav-mobile .nav-mobile-in li a {
		font-size: 16px;
		font-weight: 400;
		color: #fff;
		text-decoration: none;
	}

	.yuldash .info-sec:after {
		width: 100%;
		height: 50%;
		border-radius: 0;
	}

	.yuldash .info-sec .info-left {
		padding: 0 0 50px 0;
	}

	.yuldash .info-sec .info-right {
		padding: 80px 0 0 0;
	}

	.yuldash .support-sec .support-block .support-text {
		height: auto;
	}

	.yuldash .advan-sec .advan-title {
		text-align: center;
		width: 100%;
	}

	.yuldash .custom-select {
		margin-right: 65px;
	}

	.yuldash .support-sec .support-block .support-text {
		font-size: 14px;
	}

	.yuldash .support-sec .support-block .support-text.last {
		padding-bottom: 64px;
	}

	.yuldash footer .tong {
		display: none;
	}

	.row-eq-height.second-foot .ftr-col {
		width: 100%;
	}

	.yuldash .about-sec .about-text {
		margin-bottom: 50px;
	}

	.yuldash .about-sec .about-text p {
		font-size: 14px;
		width: 260px;
		margin-left: auto;
		margin-right: auto;
	}

	.yuldash .about-sec .for-desktop .about-cols {
		display: flex;
		flex: 0 0 33.333%;
		max-width: 33%;
	}

	.yuldash .other-sec .other-slide .owl-nav .owl-next {
		right: 0;
	}

	.yuldash .other-sec .other-slide .owl-nav .owl-prev {
		left: 0;
	}

	/* .yuldash .support-sec .row.for-desktop div:nth-child(4) .support-block .support-text{
padding-bottom: 64px
	} */

	/* .yuldash .support-sec .row.for-desktop div:nth-child(8) .support-block .support-text{
		padding-bottom: 25px
			} */

	.yuldash .pabler-sec .pabler-block .pabler-text-title {
		width: 260px
	}

	.yuldash .pabler-sec .pabler-block .pabler-text-text {
		width: 260px
	}

	.yuldash .pabler-sec .pabler-block .pabler-text {
		margin-left: 20px
	}
}


@media only screen and (max-width: 1200px) {

	.yuldash .head-sec .head-block .one img {
		display: none
	}

	.yuldash footer .foot-end {
		display: flex;
		flex-direction: column;
		text-align: center
	}

	.yuldash footer .foot-end-text {
		padding-bottom: 30px
	}

}


@media only screen and (min-width: 1024px) {
	.yuldash .owl-nav button img {
		display: none
	}
}


@media only screen and (max-width: 769px) {
	.yuldash .pabler-sec .pabler-cols {
		display: flex !important;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.yuldash .our-service-sec {
		padding-bottom: 80px;
	}

	.yuldash .head-sec .head-block .head-page-down {
		display: none;
	}

	.yuldash .other-sec .other-block .other-text {
		font-size: 26px;
		line-height: 39px;
		letter-spacing: 0.55px
	}

	.yuldash .support-sec .support-block .support-text.last {
		padding-bottom: 45px;
	}

	.yuldash .pabler-sec .pabler-block .pabler-text-title {
		width: 400px
	}

	.yuldash .about-sec .about-text {
		padding: 0 100px;
	}

	.yuldash .pabler-sec .pabler-block .pabler-pic {
		width: 85px;
	}

	.yuldash .pabler-sec .pabler-block .pabler-pic.user-png img {
		height: auto;
	}

	.yuldash .advan-sec .advan-block .advan-pic {
		width: 70px;
		height: auto;
	}

	.yuldash .advan-sec .advan-block .advan-pic.for-pic {
		width: 70px;
	}

	.yuldash .advan-sec .just {
		flex: 0 0 100%;
		max-width: 100%;
		padding-left: 10px;
	}

	.yuldash .our-service-sec .our-cols {
		display: flex;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.yuldash .for-mobile {
		display: block;
	}

	.yuldash .about-sec .for-desktop,
	.yuldash .rate-cart-rov.for-desktop {
		display: none;
	}

	.yuldash .for-desktop {
		display: none;
	}

	.yuldash .custom-nav .navbar-custom .nav-all {
		display: none;
	}

	.yuldash .head-sec .head-block {
		display: flex;
		flex-direction: column;
	}

	.yuldash .head-sec .head-text-block.one {
		order: 1;
	}

	.yuldash .head-sec .head-link {
		order: 2;
	}

	.yuldash .head-sec .head-text-block.two {
		order: 3;
	}

	.yuldash .head-text-down.down-one {
		order: 4;
	}

	.yuldash .head-sec .head-block .head-page-down.down-two {
		order: 5;
	}

	.yuldash .head-sec .head-block .head-title {
		line-height: 55px;
		margin-bottom: 30px;
	}

	.yuldash .head-sec .head-block .head-link {
		margin-bottom: 30px;
	}

	.yuldash .head-sec .head-block .head-text {
		line-height: 1.5;
		margin-bottom: 30px;
	}

	.yuldash .head-sec .head-block .head-text-down p:first-child {
		line-height: 1.5;
	}

	.yuldash .head-sec {
		clip-path: none;
	}

	.yuldash .pabler-sec .row-eq-height {
		padding: 0;
	}

	.yuldash .pabler-sec .pabler-end p {
		background: transparent;
		margin: 50px 0 40px 0;
	}

	.yuldash .pabler-sec .pabler-show-all {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.yuldash .pabler-sec .pabler-show-all .pabler-end {
		order: 1;
	}

	.yuldash .pabler-sec .pabler-show-all .pabler-link {
		order: 2;
		margin-bottom: 50px;
	}

	.yuldash .pabler-sec .pabler-show-all .pabler-end-link {
		order: 3;
	}

	.yuldash .pabler-sec .pabler-last-text {
		order: 4;
		margin-top: 30px;
	}

	.yuldash .pabler-sec .pabler-end-link a {
		display: inline-block;
		padding: 15px 20px;
		font-size: 13px;
	}

	.yuldash .pabler-sec .pabler-end p {
		margin: 50px 0 30px 0;
	}

	.yuldash .pabler-sec .for-mobile.pabler-show-all a {
		display: inline-block;
		font-size: 14px;
		color: #fff;
		border-radius: 50px;
		background: #1081a7;
		padding: 15px 90px;
		text-decoration: none;
		text-align: center;
		;
	}

	.yuldash .pabler-sec .pabler-block {
		margin-bottom: 40px;
	}

	.yuldash .support-sec .support-title {
		margin-bottom: 40px;
	}

	.yuldash .support-sec .support-slide {
		position: relative;
	}

	.yuldash .support-sec .support-block {
		text-align: center;
		margin: 0 70px;
	}

	.yuldash .support-sec .support-block .support-text {
		height: auto;
		padding-bottom: 30px;
		font-size: 16px;

	}

	.yuldash .owl-nav button {
		border: none;
		outline: none;
		background: transparent;
	}

	.yuldash .owl-nav .owl-prev {
		transform: rotate(-180deg);
		position: absolute;
		left: 0;
		top: 0;
	}

	.yuldash .owl-nav .owl-next {
		position: absolute;
		right: 0;
		top: 0;
	}

	.yuldash .free-try-sec {
		padding: 50px 0 80px 0;
	}

	.yuldash .our-service-sec .our-mobile-rov {
		text-align: center;
	}

	.yuldash .our-service-sec .for-mobile.our-show-all a {
		display: inline-block;
		font-size: 14px;
		color: #fff;
		border-radius: 50px;
		background: #1081a7;
		padding: 15px 80px;
		text-decoration: none;
		text-align: center;
	}

	.yuldash .info-sec {
		text-align: center;
	}

	.yuldash .info-sec:after {
		width: 100%;
		height: 50%;
		border-radius: 0;
	}

	.yuldash .info-sec .info-left {
		padding: 0 0 50px 0;
	}

	.yuldash .info-sec .info-right {
		padding: 80px 0 0 0;
	}

	.yuldash .advan-sec .advan-block {
		margin-bottom: 40px;
	}

	.yuldash .advan-sec .advan-mobile-rov {
		text-align: center;
		margin-bottom: 50px;
	}

	.yuldash .advan-sec .for-mobile.advan-show-all a {
		display: inline-block;
		font-size: 14px;
		color: #fff;
		border-radius: 50px;
		background: #1081a7;
		padding: 15px 80px;
		text-decoration: none;
		text-align: center;
	}

	.yuldash .not-all-sec {
		padding: 40px 0;
	}

	.yuldash .not-all-sec .not-all-text-big {
		margin-bottom: 10px;
	}

	.yuldash .not-all-sec .not-all-text-small {
		margin-bottom: 40px;
	}

	.yuldash .not-all-sec .not-all-end {
		margin-top: 40px;
	}

	.yuldash .rate-sec .rate-switch .rate-switch-name p {
		text-align: right;
		margin-right: 30px;
	}

	.yuldash .rate-sec .rate-switch .rate-switch-swicher {
		padding-top: -40px
	}

	.yuldash .rate-sec .rate-switch .rate-switch-rate {
		margin-left: 30px;
	}

	.yuldash .rate-sec .rate-items {
		padding: 30px 70px;
	}

	.yuldash .rate-sec .rate-block.popular-block {
		margin: -10px 0 20px 0;
	}

	.yuldash .rate-sec .rate-cart-rov {
		position: relative;
		padding-top: 30px;
	}

	.yuldash .rate-sec .owl-nav .owl-prev {
		position: absolute;
		left: 0;
		top: 45%;
	}

	.yuldash .rate-sec .owl-nav .owl-next {
		position: absolute;
		right: 0;
		top: 45%;
	}

	.yuldash .rate-sec {
		padding: 35px 0 0 0;
	}

	.yuldash .about-sec .about-title {
		font-size: 25px;
		margin-bottom: 60px;
	}

	.yuldash .about-sec .about-slide {
		padding: 0 50px 0 70px;
		position: relative;
	}

	.yuldash .about-sec .owl-nav .owl-prev {
		position: absolute;
		left: 0;
		top: 25%;
	}

	.yuldash .about-sec .owl-nav .owl-next {
		position: absolute;
		right: 0;
		top: 25%;
	}

	.yuldash .other-sec .other-slide .owl-nav .owl-next {
		right: 0;
	}

	.yuldash .other-sec .other-slide .owl-nav .owl-prev {
		left: 0;
	}

	.yuldash footer .foot-rov {
		padding: 0;
		flex-direction: column;
	}

	.yuldash footer .foot-block {
		border: none;
		padding: 25px 0 80px 0;
	}

	.yuldash footer .the-user {
		margin-bottom: 40px;
	}

	.yuldash footer .the-user.ftr-last {
		margin: 0;
	}

	.yuldash footer .foot-block .find-error {
		display: none;
	}

	.yuldash footer .foot-left {
		text-align: left;
	}

	.yuldash footer .foot-left p:first-child {
		margin-bottom: 40px;
	}

	.yuldash footer .foot-end {
		flex-direction: column;
		text-align: center;
	}

	.yuldash footer .foot-end-text {
		margin-bottom: 50px;
		font-size: 20px;

		line-height: 39px;
		letter-spacing: 0.5px;
	}

	.yuldash footer .foot-con {
		padding: 45px 0 60px 0;
	}

	.yuldash footer .foot-socials a img {
		width: 13%;
	}

	.yuldash .head-sec .head-block .head-link a {
		display: inline-block;
	}

	.yuldash .custom-nav .navbar-custom li.dropdown {
		display: none;
	}

	.yuldash .modal.modal-second .modal-content {
		width: 100%;
		padding: 0 10px;
	}

	.yuldash .modal .close {
		top: 15px;
		right: 0;
	}

	.yuldash .modal .modal-header .title-logo {
		padding-top: 30px;
	}

	.yuldash .pabler-sec .mob-show {
		display: none;
	}

	.yuldash .pabler-sec .mob-show.active {
		display: block;
	}

	.yuldash .our-service-sec .our-show {
		display: none;
	}

	.yuldash .our-service-sec .our-show.active {
		display: block;
	}

	.yuldash .advan-sec .advan-show {
		display: none;
	}

	.yuldash .advan-sec .advan-show.active {
		display: block;
	}

	.yuldash .custom-nav .navbar-custom li {
		display: none;
	}

	.yuldash footer .tong {
		display: none;
	}

	.yuldash header {
		background: #fff;
		display: none;
	}

	.yuldash .pabler-sec .pabler-block .pabler-text-text {
		width: 400px
	}

	.yuldash .pabler-sec .pabler-block {
		margin: 0 auto;
		margin-bottom: 47px;

	}

	.yuldash .pabler-sec .pabler-block .pabler-text {
		margin-left: 29px
	}

	/* .yuldash .our-service-sec .our-service-block{
			margin: 0 auto
		} */
	.yuldash .about-sec .about-text p {

		letter-spacing: 0.4px;
	}
}

@media only screen and (max-width: 544px) {
	.yuldash .pabler-sec .row-eq-height :nth-child(10) .pabler-block {
		margin-bottom: 47px;
	}

	.yuldash .about-sec .about-text p {
		width: 230px;
	}

	.yuldash .pabler-sec .pabler-end-link a {

		font-size: 16px
	}

	.yuldash .about-sec .about-text {

		padding: 0 100px;
	}

	.yuldash .pabler-sec .pabler-block .pabler-text-text {
		width: 90%;
	}

	.yuldash .support-sec .support-end-title {
		line-height: 26px;
		font-weight: 700;
		letter-spacing: 1.17px;
		line-height: 26px;
		margin: 0 0 30px 0;
	}

	.yuldash .support-sec .support-block .support-text {
		font-size: 16px;
		width: 85%;
		margin: 0 auto;
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: 0.4px;
	}

	.yuldash .other-sec .other-block .other-text {
		font-size: 28px;
	}

	.yuldash .about-sec .about-text {
		padding: 0 20px 0 0;
		width: 400px
	}

	.yuldash .pabler-sec .for-mobile.pabler-show-all a {
		padding: 20px 110px;
		font-size: 18px;
		font-weight: 400;
		line-height: 31px;
		letter-spacing: 0.45px;
	}

	.yuldash .our-service-sec .for-mobile.our-show-all a {
		padding: 20px 120px;
		font-size: 18px;
		font-weight: 400;
		line-height: 31px;
		letter-spacing: 0.45px;
	}

	.yuldash .advan-sec .for-mobile.advan-show-all a {
		padding: 20px 110px;
		font-size: 18px;
		font-weight: 400;
		line-height: 31px;
		letter-spacing: 0.45px;
	}
}

@media only screen and (max-width: 480px) {

	.yuldash .not-all-sec .not-all-link a {
		padding: 25px 85px;
	}

	.yuldash .about-sec .about-text {
		padding: 0 20px;
	}

	.yuldash .about-sec .about-text {
		padding: 0;
		width: 100%;
	}

	.yuldash .pabler-sec .pabler-block .pabler-text-text {
		width: 70%
	}

	.yuldash .free-try-sec .free-try-link a {
		padding: 30px 60px
	}

	.yuldash .pabler-sec .pabler-end-link a {

		padding: 20px 10px
	}

	.yuldash .pabler-sec .pabler-end-link a {

		font-size: 16px
	}
}

@media only screen and (max-width: 375px) {
	.yuldash .head-sec .head-block .head-link a {
		padding: 17px 15px 21px 15px
	}

	.yuldash .pabler-sec .pabler-block .pabler-text-text {
		width: 260px
	}

	.yuldash .pabler-sec .pabler-block .pabler-text {
		margin-left: 10px;
	}

	.yuldash .pabler-sec .pabler-block .pabler-text-title {
		width: 280px;
		font-size: 18px;

		line-height: 26px;
		letter-spacing: 0.45px;
	}

	.yuldash .advan-sec .advan-block .advan-text-text {
		width: 240px;
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: 0.4px;
	}

	.yuldash .advan-sec .advan-block .advan-text-title {
		width: 240px
	}

	.yuldash footer .foot-end-text {
		margin-bottom: 20px;
		line-height: 30px
	}

	.yuldash .row-eq-height .pabler-cols .pabler-block img {
		width: 50px;
		height: 50px;
		margin-top: 5px;
	}

}

@media only screen and (max-width: 360px) {
	.yuldash .about-sec .about-text {
		padding: 0 20px;
	}

	.yuldash .about-sec .about-text {
		padding: 0;
		width: 220px
	}

	.yuldash .pabler-sec .pabler-end-link a {
		padding: 20px 0
	}

	.yuldash .pabler-sec .pabler-end-link a {

		font-size: 15px
	}

	.yuldash .advan-sec .advan-block .advan-text-text {
		width: 200px
	}

	.yuldash .our-service-sec .our-service-block .our-text {
		padding-left: 10px;
		padding-right: 0
	}
}

@media only screen and (max-width: 320px) {
	.yuldash .pabler-sec .row-eq-height {
		padding: 0;
	}

	.yuldash .not-all-sec .not-all-link a {
		padding: 20px 50px;
	}

	.yuldash .free-try-sec .free-try-link a {
		padding: 20px 50px;
	}

	.yuldash footer .foot-block .foot-socials a img {
		width: 35px;
	}

	.yuldash .about-sec .about-text p {
		font-size: 12px;
	}

	.yuldash .about-sec .about-slide {
		padding: 0 30px 0 50px;
	}

	.yuldash .rate-sec .rate-items {
		padding: 20px 50px;
	}

	.yuldash .about-sec .about-text {
		padding: 0;
		width: 220px
	}

	.yuldash .pabler-sec .pabler-block .pabler-text-text {
		width: 220px
	}

	.yuldash .pabler-sec .pabler-block .pabler-text-title {
		width: 220px
	}

	.yuldash .advan-sec .advan-block .advan-text-title {
		width: 200px
	}

	.yuldash .about-sec {
		padding-bottom: 0
	}

	.yuldash .other-sec {
		padding: 20px 0 20px 0
	}

	.yuldash .advan-sec .advan-block .advan-text {
		margin-left: 15px
	}

	.yuldash .advan-sec :nth-child(4) .advan-block .advan-text {
		margin-left: 30px
	}
}

.yuldash header .navbar-nav li:nth-child(6) a {
	padding: 0 15px 0 280px
}


.yuldash header .navbar-nav li.nav-reg a {
	padding: 0 30px 43px 30px;
	height: 41px;
}

.yuldash header .navbar-nav.nav-enter {
	padding: 0 20px
}


.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
	margin-right: 0;
	margin-left: 0
}

.yuldash .custom-select {
	width: 63px;
	height: 41px
}


.yuldash header .navbar-nav li a {
	line-height: 42px;
	letter-spacing: 0.4px;
}

.yuldash header .navbar-brand {
	margin-left: -15px
}

.yuldash .navbar-right {
	margin-right: 0px
}

.yuldash .head-sec .head-block .one img {
	margin-right: 74.5%;
	margin-bottom: 36px;
	margin-top: 3px
}