
ol,
    ul,
    dl {
      margin-top: 0;
      margin-bottom: 1rem;
    }

    .slide {
      /* устанавливаем относительное позиционирование элементу */
      position: relative;
      display: block;
      margin: 0 auto;
      max-width: 960px;
    }

    .slide__items {
      /* устанавливаем относительное позиционирование элементу */
      position: relative;
      /* устанавливаем элементу ширину, равную 100% */
      width: 100%;
      overflow: hidden;
    }

    .slide__item {
      /* устанавливаем относительное позиционирование элементу */
      position: relative;
      /* отключаем по умолчанию отображение всех слайдов */
      display: none;
      /* устанавливаем элементу ширину, равную 100% */
      width: 100%;
      /* длительность анимации трансформации */
      transition: transform 0.6s ease;
      /* не показывать обратную сторону трансформируемого элемента */
      backface-visibility: hidden;
    }

    .slide__item_active,
    .slide__item_next,
    .slide__item_prev {
      /* отображаем слайд, если он имеет один из этих классов */
      display: block;
    }

    .slide__item_next,
    .slide__item_prev {
      /* устанавливаем абсолютное позиционирование для элемента, на который будет сменяться слайд (на время трансформации) */
      position: absolute;
      /* устанавливаем положение элемента, т.е. координату top */
      top: 0;
    }

    .slide__item_next.slide__item_left,
    .slide__item_prev.slide__item_right {
      /* сдвигаем элемент на 0 по горизонтали */
      transform: translateX(0);
    }

    .slide__item_next,
    .slide__item_right.slide__item_active {
      /* сдвигаем элемент на 100% по горизонтали */
      transform: translateX(100%);
    }

    .slide__item_prev,
    .slide__item_left.slide__item_active {
      /* сдвигаем элемент на -100% по горизонтали */
      transform: translateX(-400%);
    }

    /* элементы управления (назад и вперёд) слайдером */

    .slide__control {
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 8%;
      color: #fff;
      text-align: center;
      opacity: 0.5;
    }

    .slide__control:hover,
    .slide__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: .9;
    }

    .slide__control_prev {
      left: 0;
    }

    .slide__control_next {
      right: 0;
    }

    .slide__control::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    .slide__control_prev::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .slide__control_next::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    /* индикаторы слайдера */
/* 
    .slide__indicators {
      position: absolute;
      right: 0;
      bottom:90%;
      left: 0;
      z-index: 15;
      display: flex;
      justify-content: center;
      padding-left: 0;
      margin-right: 15%;
      margin-left: 15%;
      list-style: none;
    }

    .slide__indicator {
      position: relative;
      flex: 0 1 auto;
      width: 10px;
      height: 10px;
      border-radius: 100px;
      margin-right: 3px;
      margin-left: 3px;
      text-indent: -999px;
      cursor: pointer;
      background-color: red;
      border-radius: 6px;
      top:0
    }

    .slide__indicator::before {
      position: absolute;
      top: -10px;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 10px;
      content: "";
    }

    .slide__indicator::after {
      position: absolute;
      bottom: -10px;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 10px;
      content: "";
    }

    .slide__indicator_active {
      background-color: #fff;
    } */

    img {
      display: inline-block;
      height: auto;
      max-width: 100%;
    }

    .slide__item {}

    .slide__item_1 {
      background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
      height: 400px;
    }

    .slide__item_2 {
      background: linear-gradient(to right, #dd1818, #333333);
      height: 400px;
    }

    .slide__item_3 {
      background: linear-gradient(to right, #093028, #237a57);
      height: 400px;
    }

    .slide__item_4 {
      background: linear-gradient(to right, #243B55, #141E30);
      height: 100px;
    }

    /*   .slider__item_inner {
      position: absolute;
      right: 15%;
      bottom: 30px;
      left: 15%;
      z-index: 10;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #fff;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }*/

    .slide__item {
      /* height: 100%; */
      /* overflow: hidden; */
    }

    .slide__item_inner {
      position: absolute;
      left: 8%;
      right: 8%;
      top: 36px;
      bottom: 36px;
      overflow: hidden;
      color: #fff;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .slide__item_img {
      flex: 0 0 100px;
      max-width: 100px;

    }

    .slide__item_testimonial {
      flex: 1 0 0;
      display: flex;
      flex-direction: column;
      text-align: center;

    }

    