button, 
button:active, 
button:focus 
    outline: none
ul, li 
    display: block
    padding: 0
    margin: 0
img 
    max-width: 100%
body
    font-family: "SF Pro Display"
.header
    background-image: url("../img/background.jpg") 
    background-repeat: no-repeat
    // background-position: center
    background-size: cover
    background-position-x: 50%
    max-width: 100%
.header
    &__logo img
        width: 198px 
        height: 50px
        margin: 49px 0 78px 0
    &__title
        font-size: 35px
        line-height: 42px
        margin-bottom: 32px
        font-family: "SF Pro Display Bold"
    &__text
        font-size: 16px
        line-height: 28px
        margin-bottom: 80px
        font-weight: 400
.partners
    &__group
        display: flex
        align-items: center
        justify-content: space-around
        &-icentre
            background-image: url("/img/icenter.svg")
            display: block
            width: 157px
            height: 32px
        &-icentre:hover
            background-image: url("/img/icenter_color.svg")
            background-size: contain
            background-repeat: no-repeat
        &-scentre
            background-image: url("/img/Sony_centre.svg")
            display: block
            width: 196px
            height: 30px
        &-scentre:hover
            background-image: url("/img/Sony_centre_color.svg")
            background-size: contain
            
            background-repeat: no-repeat
        &-digy
            background-image: url("/img/Digy.svg")
            display: block
            width: 169px
            height: 45px
            background-size: contain
            background-repeat: no-repeat
        &-premium
            background-image: url("/img/premium_service.svg") 
            background-repeat: no-repeat
            display: block
            width: 145px
            height: 55px
            margin-top: 10px
        &-premium:hover
            background-image: url("/img/premium_color.svg")
            background-size: contain
        &-samsung
            background-image: url("/img/samsung.svg")
            display: block
            margin-top: 20px
            width: 102px
            height: 49px
        &-samsung:hover
            background-image: url("/img/samsung_color.svg")
        &-sony
            background-image: url("/img/sony.svg")
            display: block
            margin-top: 30px
            width: 110px
            height: 62px
        &-sony:hover
            background-image: url("/img/sony_color.svg")
.join
    margin-top: 20px
    &__title
        font-family: SF Pro Display
        font-size: 30px 
        line-height: 39px
        margin-top: 60px
        margin-bottom: 30px
        font-weight: 600
    &__text
        font-family: SF Pro Display
        font-size: 16px
        line-height: 25px
        color: #373943
    &__button 
        display: flex
        button
            border: none
            border-radius: 5px
            width: 155px
            height: 45px
            background: #061653
            display: flex
            margin: 20px 18px 0 0
        button:hover
            cursor: pointer 
        div 
            display: flex
            flex-direction: column
        div span
            margin: 0 auto 0 0
            color: #FFFFFF
        &-play
            margin: 9px 11px 10px 9px
        &-apple
            margin: 5px 10px 9px 6px
        &-load
            font-family: SF Pro Display
            font-size: 12px
            color: #FFFFFF
.opportunities
    &__main
        font-size: 30px
        line-height: 36px
        color: #161616
        margin-bottom: 20px
    &__img
        margin-top: 42px
    &__img:hover 
        -webkit-transform: scale(1.2,1.2)
        -webkit-transition-timing-function: ease-out
        -webkit-transition-duration: 550ms
        -moz-transform: scale(1.2,1.2)
        -moz-transition-timing-function: ease-out
        -moz-transition-duration: 550ms
    &__title 
        margin: 24px 0 26px 0
        font-family: SF Pro Display
        font-size: 20px
        line-height: 24px
        color: #161616
        font-weight: 600
    &__text
        font-family: SF Pro Display
        font-size: 15px
        line-height: 21px
        text-align: center
        color: #161616
.statuses
    &__title
        font-size: 30px
        line-height: 36px
        color: #161616
        padding-bottom: 12px
        margin-top: 87px
        margin-bottom: 16px
    &__black
        margin-left: -15px
        background-image: url("../img/Mask Group_3.svg") 
        
        width: 282px
        height: 110px
        img:first-child
            margin-left: 40%
            padding-top: 10%
        img:nth-child(2)
            margin-left: 30%
            
            padding-top: 5%
        img
            position: relative
            display: flex
            flex-direction: column
            align-items: center
    &__plat
        background-image: url("../img/Mask Group_4.svg") 
        width: 255px
        height: 110px
        img
            position: relative
            margin: 11% 0 0 26%
    &__white
        background-image: url("../img/Mask Group_1.svg") 
        margin-left: -13px
        width: 282px
        height: 110px
        img
            position: relative
            margin: 10% 0 0 35%
    &__red
        background-image: url("../img/Mask Group_2.svg") 
        margin-left: -13px
        width: 282px
        height: 110px
        img:first-child
            margin-left: 40%
            padding-top: 10%
        img:nth-child(2)
            margin-left: 25%
            
            padding-top: 5%
        img
            position: relative
            display: flex
            flex-direction: column
            align-items: center
    &__info   
        background: #FFFFFF
        border-radius: 5px
        box-shadow: 0px 4px 20px rgba(155, 148, 180, 0.4)
        height: 580px
        &-title
            font-family: SF Pro Display
            font-size: 16px
            line-height: 122.34%
            color: #1C1C1C
            text-align: center
            padding-top: 25px
            margin-bottom: 25px

        &-text p
            font-size: 15px
            line-height: 20px
            color: #1C1C1C
            display: flex
            margin-bottom: 20px
        &-text img
            margin: 6px 11px auto 20px 
.programm
    margin-top: 36px
    &__img
        margin-bottom: 21px
        width: 100%
        height: 402px
        &-girl
            position: absolute
            max-width: 100%
        &-table
            position: relative
            left: 4%
            top: 58%

    &__title,  &__position-sectitle
        font-size: 30px
        line-height: 36px
        color: #000000
        font-weight: 600
    &__title
        margin-top: 61px
        margin-bottom: 22px
    &__position
        img
            max-width: 100%
        &-sectitle
            margin-bottom: 23px
            letter-spacing: 0.5px
            margin-top: -30px
    &__price
        font-size: 20px
        line-height: 24px
        color: #FF2424
        margin-bottom: 26px
    &__text
        font-size: 15px
        line-height: 21px
        color: #161616
        &-last
            margin-top: 66px
            font-size: 30px
            line-height: 36px
            font-weight: 600
            color: #000000
        &-red
            color: red
        span p:nth-child(2)
            padding-bottom: 28px
            margin-bottom: 0
            
    &__telephons
        margin-top: 40px
        text-align: center
        img     
            margin: auto
            width: 100%

    &__position
        &-numbers
            display: flex
            img
                padding-right: 10px
            div:nth-child(2) img
                padding-right: 0
    &__last
        font-size: 15px
        line-height: 25px
        color: #161616
        margin-top: 40px
.map
    margin-top: 90px
    &__img
        max-width: 100%
        
.info
    background-image: url("../img/footer.png")
    background-size: cover
    background-repeat: no-repeat
    // background-position: center
    
    background-position-x: 50%

    &__title
        font-size: 35px
        line-height: 134.34%
        color: #161616
        margin: 61px 0 0 40%
    &__button 
        display: flex
        margin: 30px 0 40px 40% 
        button
            
            border: none
            border-radius: 5px
            width: 155px
            height: 45px
            background: #061653
            display: flex
            
            margin: 20px 18px 0 0
        button:hover 
            cursor: pointer
        div 
            display: flex
            flex-direction: column
        div span
            margin: 0 auto 0 0
            color: #FFFFFF
        &-play
            margin: 9px 11px 10px 9px
        &-apple
            margin: 5px 10px 9px 6px
        &-load
            font-family: SF Pro Display
            font-size: 12px
            color: #FFFFFF
.footer
    &__last
        margin-top: 30px
        margin-bottom: 30px
        display: flex
        justify-content: space-around
    &__last img:first-child
        margin-left: 54px
    &__img
        margin-top: 30px 
        margin-bottom: 30px

    

@media only screen and (min-width : 1200px)
    #slide
        display: none
    .join
        &__button
            margin-left: 23%
@media only screen and (max-width : 1200px)
    #slide
        margin-bottom: 20px
    .slide-item-pos1
        // margin-top: 40px
        margin-bottom: 20px
     .slide-item-pos2, .slide-item-pos3, .slide-item-pos4
        margin-bottom: 0
    .opportunities
        margin-bottom: 30px
    .statuses
        display: none
    .opportunities
        margin-top: 40px
    .join
        &__button
            margin-left: 15%
    .statuses
        &__text
            margin-bottom: 20px
        &__white
               width: 111%
               border-radius: 5px 5px 0 0
               background-size: cover
               margin-left: -23px
            
        &__red
               width: 111%
               border-radius: 5px 5px 0 0
               background-size: cover
               margin-left: -23px
            
        &__black
               width: 111%
               border-radius: 5px 5px 0 0
               background-size: cover
               margin-left: -26px
        
        &__plat
            width: 100%
            border-radius: 5px 5px 0 0   
            background-size: cover
    .statuses__plat img
        margin: 11% 0 0 37%
    .statuses__black img:nth-child(2)
        margin-left: 34%
        padding-top: 1%
    .statuses__black img:first-child
        padding-top: 30px
    .statuses__white img
        margin-left: 42%
    

    .statuses__red img:first-child 
        margin-left: 44%
    .footer__last img:first-child 
        margin-left: 0
    .footer__last
        display: flex 
        justify-content: space-around
    

@media only screen and (min-width : 1024px)
    .partners-place-firstmob
        display: none
    
@media only screen and (max-width : 1023px)
    #slider 
        display: none
    .partners
        display: none
    .statuses
        &__title
            margin-top: 30px
        &__text
            margin-bottom: 30px
    
    
    
        
@media only screen and (min-width : 992px)
    .footer-place-mob
        display: none
    
    
@media only screen and (max-width : 991px)
    
    .header
        background-position-x: 60%
        &__text
            // width: 00px
    .join 
        &__tel
            margin-left: -100px
        &__button button
            margin-left: 120%
        &__button
            margin-left: 0%
    .join-desktop-tel
        display: none
    .statuses
        &__white, &__red, &__black
            background-size: cover
            width: 111%
            margin-left: -18px
        &__plat
            width: 100%
            background-size: cover
            background-repeat: no-repeat
        &__text
            br
                display: none
    .programm
         &__position
            &-sectitle
                margin-top: 20px
    .partners
        display: none
    .info
        &__button, &__title
            // margin: 0
    .footer
        &__last img:first-child
            margin-left: 0
    .footer-place
        display: none
    .statuses__info
        margin-bottom: 20px
        height: 0 px

@media only screen and (min-width : 769px)
    .programm-title-mob, .programm-price-mob, .programm-position-mob, .programm-text-tablet, 
        display: none
@media only screen and (max-width : 768px)
    // .programm-title-desktop, .programm-price-desktop
    .programm-text-desktop, .programm-position-desktop
        display: none
    .join
        &__title
            text-align: center
            br 
                display: none
            
        &__text
            text-align: center
        &__button
            // display: flex
            margin-left: -18%
            // align-item: center
            // flex-direction: column
            // button
            //     margin: 10px auto
    .programm
        &__img
            padding-left: 10%
    .join-tel
        display: none
