ul, li
    list-style-type: none
body
    background: #F5F6FD
    max-width: 660px
    margin: 0 auto
    z-index: 0
.container
    max-width: 660px
    padding: 0 35px 0 35px
button, button:focus 
    outline: none
.header
    margin: 27px 0 0 0
#order-bg__info::before 
    content: ""
    display: block
    height: 100%
    position: absolute
    top: 0
    left: 0
    background: #D1223E
    mix-blend-mode: color
    width: 100%
    height: 120%
    background: #D1223E
    border-radius: 16px 16px  0 0 
    z-index: 0
    padding: 0 0 35px 0
.order
    margin: 20px 0 0 0
    &-bg
        position: relative
        background-image: url(../img/bg1-img.svg) 
        background-size: cover
        width: 100%
        height: 100% 
        border-radius: 16px 16px  0 0
        margin: 0 0 0 -5px
    &-bg-sec
        position: relative
        width: 100%
        height: 100%
        background: #FFFFFF 
        box-shadow: 0px 18px 11px rgba(229, 230, 235, 0.4)
        border-radius: 0 0 16px 16px 
        padding: 30px 0 0 0
        margin: 0 0 0 -5px
    &-bg ul li:first-child
        color: white 
        font-family: 'Montserrat', sans-serif
        font-weight: 600
        font-size: 26px
        padding: 30px 0 0 0 
        
    &-bg ul li:last-child
        color: white 
        font-family: 'Montserrat', sans-serif
        font-size: 18px 
        font-size: 14px
        line-height: 19px
        font-weight: 400
        margin: 10px 0 0 0 
    &-rect
        border-radius: 50%     
        width: 25px
        height: 25px
        background: #6FC272
        margin: 0 0 0 25px
        &__ok
            margin: -5px 0 0 8px 
    &-bg__pay  
        position: relative
        color: black
        font-family: 'Montserrat', sans-serif 
        font-weight: 500
        font-size: 16px
        line-height: 31px
.details
    margin: 20px 0 0 0
    ul, li
        margin: 0
        padding: 0
    &-bgg 
        padding: 25px 0 30px 0
        width: 100%
        height: 100%
        background: #FFFFFF
        border-radius: 8px
        margin: 0 0 0 -5px
    &-bg    
        padding: 25px 0 30px 0
        position: relative
        width: 620px
        height: 100%
        background: #FFFFFF
        border-radius: 8px
        margin: 0 0 0 -20px
    &-bg span
        font-size: 18px
        line-height: 19px
        margin: 3px 0 0 20px  
    &-about li 
        padding: 10px 0 0 0
        margin: 0 0 0 30px
    &-about2 li 
        padding: 10px 0 0 0
        margin: 0 0 0 10px
    
    &-info li
        padding: 10px 0 0 0
        margin: 0 0 0 -35px
    &-info2 li
        padding: 10px 0 0 0
        margin: 0 0 0 -45px
    &-about ul:nth-child(1)
        margin: 0 0 0 -20px
    &-about 
        font-family: 'Montserrat', sans-serif 
        font-size: 10px
        line-height: 19px
        color: #A9A9B7
    &-about2
        font-family: 'Montserrat', sans-serif 
        font-size: 10px
        line-height: 19px
        color: #A9A9B7
    &-info 
        font-family:  'Montserrat', sans-serif 
        font-size: 13px
        line-height: 19px
        color: #38383F
        font-weight: 500
        justify-content: space-around
    &-info2
        font-family:  'Montserrat', sans-serif 
        font-size: 13px
        line-height: 19px
        color: #38383F
        font-weight: 500
        justify-content: space-around
        // magin: 0 0 0 -20px


.my 
    margin: 20px 0 20px 0
    &-about 
        font-family: 'Montserrat', sans-serif 
        font-size: 10px
        line-height: 19px
        color: #A9A9B7
        margin: 10px 0 0 0 
    &-about2
        font-family: 'Montserrat', sans-serif 
        font-size: 10px
        line-height: 19px
        color: #A9A9B7
        margin: 10px 0 0 0
    &-info 
        font-family:  'Montserrat', sans-serif 
        font-size: 13px
        line-height: 19px
        color: #38383F
        font-weight: 500
        justify-content: space-around
        margin: 10px 0 0 0
    &-info2 
        font-family:  'Montserrat', sans-serif 
        font-size: 13px
        line-height: 19px
        color: #38383F
        font-weight: 500
        justify-content: space-around
        margin: 10px 0 0 0
    &-info li 
        padding: 15px 0 0 0
        margin: 0 0 0 -25px
         
    &-info2 li
        
        padding: 15px 0 0 0
        margin: 0 0 0 -25px
    &-about li 
        
        padding: 15px 0 0 0
        margin: 0 0 0 -25px
    &-about2 li
        
        padding: 15px 0 0 0 
        margin: 0 0 0 -25px
.address 
    margin: 40px 0 0 0  
    &-list__first 
        margin: 20px 0 0 0
        font-size: 18px
        line-height: 19px
        font-family:  'Montserrat', sans-serif 
        color: #202025
        font-weight: 700
        
    &-list__second
        font-family:  'Montserrat', sans-serif 
        font-size: 14px
        line-height: 22px
        color: #8F8F9F
        
.price 
    &-list__info
        margin: 10px 0 -10px 0
        font-size: 13px
        line-height: 22px
        color: #8F8F9F
    &-list__num
        margin: 10px 0 -10px 0
        color: #2E2E32
        font-size: 16px
        line-height: 19px
        font-family:  'Montserrat', sans-serif 
        font-weight: 600
.footer
    &-list 
        margin: 10px 0 0 0
    &-list__answers 
        font-weight: 600
        font-size: 18px
        line-height: 25px
        color: #202025
        margin: 20px 0 0 0

    &-contacts__info
        font-size: 18px
        line-height: 24px
        color: #202025
        font-weight: 600
        margin: 0 0 20px 0
    
    &-contacts__social a
        margin: 0 15px 0 0
    // &-list-bg
    //     border-radius: 25px
    //     width: 185px 
    //     height: 45px
    //     background: #E72E4D
    //     margin: 40px 0 0 0 
    //     align-items: center
    &-list__tel
        padding: 10px 0 0 40px 
    // &-list-bg img
    //     margin: -5px 0 0 0
    // &-list-bg a
    //     text-decoration: none
    // &-list-bg span
    //     color: #FFFFFF
    //     font-size: 21px
    //     line-height: 19px
    //     margin: 15px 0 0 0 
    &-list__answers
            margin-top: -5px
            margin-bottom: 10px
    button
        margin: 20px 0 20px 0 
        align-items: center
        // margin: 30px 0 30px 0
        color: white
        background-color: transparent
        border: 1px solid #E72E4D
        // box-sizing: border-box
        border-radius: 25px
        width: 185px
        height: 45px
        font-family: 'Montserrat', sans-serif
        font-weight: 600
        // width: 226px
        // height: 45px
        position: relative
        overflow: hidden
        cursor: pointer
        color: white
        box-shadow: 2px 2px 4px rgba(0, 0, 0, .4)
        background: #E72E4D
        
    button:after
        content: ''
        position: absolute
        top: 50%
        left: 50%
        width: 5px
        height: 5px
        background: rgba(255, 255, 255, .5)
        opacity: 0
        border-radius: 100%
        transform: scale(1, 1) translate(-50%)
        transform-origin: 50% 50%
    @keyframes ripple 
        0% 
            transform: scale(0, 0)
            opacity: 1 
        20% 
            transform: scale(25, 25)
            opacity: 1 
        100% 
            opacity: 0
            transform: scale(40, 40)
    button:focus:not(:active)::after 
        animation: ripple 1s ease-out
   

@media only screen and (max-width : 767px)
    .order
        &-bg-sec
            padding-bottom: 30px
        &-bg ul li:first-child
            margin: 0 0 0 -10%
        &-bg ul li:last-child
            margin: 0 0 0 -10%
        &-rect 
            margin: 0 0 0 -3%
    .order-wrap
        display: flex
        flex-direction: column

    .order-bg__pay
        margin: 10px 0 0 -50px
    .details
        &-bg    
            width: 110%
        &-about2 li
            margin: 0 0 0 30px
            
        &-info li
            margin: 0 0 0 -25px  
            font-size: 10px  
        &-info2 li
            margin: 0 0 0 -25px  
            font-size: 10px 
    .my
        &-about2 
            margin: -3px 0 0 0
        &-info2 
            margin: -3px 0 0 0
        &-info2 li
            margin: 0 0 0 35px
    .price
        &-list__num
            margin: 10px 0 -10px 0
        &-list__info
            margin: 0 0 -10px 0
        &-box
            display: flex
            flex-direction: column
        &-list
            display: flex
            flex-direction: column
    .footer
        display: flex
        flex-direction: column
      
        &-list__btn 
            margin: 0 0 0 10px
        &-contacts-info
            margin: 0 auto
        // &-list-bg
        //     margin: 20px 0 0 20px
        &-list__answers
            margin-left: 20px
        &-contacts__info
            margin-left: -25px
            text-align: center
        &-contacts__social
            margin-left: 55px 
        button
            margin: 20px 0 20px 40px 
        
      
@media only screen and (max-width : 540px)
    .order
        
        &-bg ul li:first-child
            margin: 0 0 0 -15%
        &-bg ul li:last-child
            margin: 0 0 0 -15%
        &-rect 
            margin: 0 0 0 -3%
    .footer
        &-list__btn 
            margin: 0 0 0 40px
        &-list__btn
            margin-left: -5px
        &-contacts
            margin-left: -15px
@media only screen and (max-width : 420px)
    .order
        &-bg ul li:first-child
            margin: 0 0 0 -10%
        &-bg ul li:last-child
            margin: 0 0 0 -10%
        &-rect 
            margin: 0 0 0 -3%
    .footer
        
        &-list__answers
            margin-left: 40px
        &-contacts__info
            margin-left: -15px
            text-align: center
        &-contacts__social
            margin-left: 85px 
        &-list-bg
            margin-left: 45px
@media only screen and (max-width : 360px) 
    .order
        &-bg ul li:first-child
            margin: 0 0 0 -12%
        &-bg ul li:last-child
            margin: 0 0 0 -12%
        &-rect 
            margin: 0 0 0 -3%
@media only screen and (max-width : 375px) 
    .footer    
        &-list__answers
            margin-left: 20px
        &-contacts__info
            margin-left: -20px
            text-align: center
        &-contacts__social
            margin-left: 65px 
        button
            margin-left: 20px
        

@media only screen and (max-width : 360px)
    .footer    
        &-list__answers
            margin-left: 10px
        &-contacts__info
            margin-left: -20px
            text-align: center
        &-contacts__social
            margin-left: 65px 
        button
            margin-left: 15px
@media only screen and (max-width : 320px)
    body 
        padding: 0 0 0 10px
    .order
        &-bg ul li:first-child
            margin: 0 0 0 -15%
        &-bg ul li:last-child
            margin: 0 0 0 -15%
        &-rect 
            margin: 0 0 0 -3%
    .footer    
        &-list__answers
            margin-left: -10px
        &-contacts__info
            margin-left: -20px
            text-align: center
        &-contacts__social
            margin-left: 35px 
        button
            margin-left: -10px